body{
    margin: 0;
    padding: 0;
    background-image: url(images/bg.jpg);
    font-family: Arial, Helvetica, sans-serif;
}
li{
    color:white;
    list-style-type: none;
    display: inline;
   
   
}
li a{
    color:white;
    text-decoration: none;
    padding: 30px;
    float: right;


}
ul{
    display: inline;
 
}  
.admire{
    color:white;
    margin-top: 17%;
    text-align: center;
}
.think{
    background-color: rgb(255, 38, 0);
    color: white;
    border: none;
    padding: 20px;
    border-radius: 20px;
}
.need{
    margin-top: 20%;
    background-color:rgb(255, 38, 0);
    color:white;
    text-align: center;
    padding: 60px;
    padding-top: 90px;
    
}
hr{
    width:30px;
}
.work{
    background-color: white;
    font-weight: bold;
    padding: 20px;
    border: none;
    border-radius: 20px;
}
.service{
    background-color: white;
    color:rgb(255, 38, 0);
    margin-top: -30px;
    text-align: center;
    padding: 60px;
}
.line{
    color:rgb(255, 38, 0);
    width:30px;
}
.gem{
    width:100px;
    height: 100px;
    color:rgb(255, 38, 0);
}
.gems{
    width:70px;
    height:70px;
    color:black;
}
.icon{
    margin-top: 5%;
    margin-left:12%;
   
    display: flex;
}
.icon-word{
    width:20%;
    margin: 10px;
}
.press{
    color:black;
}
.port{
    width:100%;
    height:400px;
}
.flex-1{
    display: flex;
}
.flex-2{
    display: flex;
    margin-top: -4px;
}
.grey{
    background-color: grey;
    text-align: center;
    color:white;
    margin-top: -24px;
    padding-top: 30px;
    padding: 80px;
}
.free{
    background-color: white;
    color:black;
    border: none;
    padding: 20px;
    border-radius: 20px;
}
.white{
    background-color: white;
    color:black;
    padding: 80px;
    padding-top: 30px;
    margin-top: -24px;
    text-align: center;
}
.contact-flex{
    display: flex;
}
.contact{
    padding: 50px;
    padding-left: 20%;
}
html{
scroll-behavior: smooth;
}
.menu{
    color: white;
    width:35px;
    height:35px;
    display:none ;
  

    
  
}
.hh{
    margin-left:50%;
}

.menu:hover{
  color:rgb(255, 38, 0);
 
}
.dropdown{
    position: relative;
    display: inline-block;
   
}
.dropdown-content{
    display: none;
    position: absolute;
    min-height: 300px;
    background-color: white;
    color:rgb(255, 38, 0);
    z-index: 1;
}
.dropdown-content a{
  color:rgb(255, 38, 0);
  padding: 40px ;
padding-left: 20px;
text-align: center;
  display: block;
  
}
.dropdown:hover .dropdown-content{
    display: block;
 
 

}


@media (max-width:720px){
    .notdrop{
        display: none;
    }
    .my{
        font-size: 8px;
        text-align: center;
    }
    .menu{
        color: white;
        width:35px;
        height:35px;
        display:block;
        
     
    }
    .icon{
        display: block;
        margin: 0;
    }
    .icon-word{
        width:50%;
        margin:auto;
    }
    
    .flex-1 ,.flex-2{
        display: block;
       
    }
    .port{
        margin-top: -10px;
    }
    .contact-flex{
        display: block;
    }
    
    
    
    
    
}